// Variables globales

// Paleta de colores
$color1:#265a2465;
$color2:#265a24;
$color-blanco:#ffffff;
$color4: black;
$color5:#4c805565;
$color6: #0d7c0a;
$color-shadow:rgba(14, 28, 23, 0.64);
$color-footer:rgb(94, 83, 50);

// Fonts
$fuente-h2:'Roboto Slab', serif;
$fuente-h3:'IBM Plex Serif', serif;